.App {
  margin: 20px;
}

.card {
  margin-right: 20px;
  width: 18rem;
}

.list-group-item {
  background-color: rgb(105, 69, 105);
  color: white;
  font-size: 15px;
}

.card-header {
  font-size: 20px;
}
